.scroll-container {
  height: auto;
  width: 100%;
  background-color: black;
  padding: 0 5rem;
  /* border: 1px solid white; */
}

.scroll-top {
  color: white;
  /* border: 1px solid red; */
}

.scroll-top h3 {
  font-weight: 500;
}

.scroll-top-season h3 {
  font-size: 0.9rem;
}

.scroll-top-season h3 span {
  color: grey;
}

.scroll-top-cards {
  height: 10rem;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  /* border: 5px solid green; */
}

.scroll-top-single-card {
  height: 100%;
  width: 18%;
  margin: 1rem 0.5rem 1rem 0;
  /* border: 1px solid yellow; */
}

.scroll-top-img {
  height: 100%;
  width: 100%;
  margin: 0.5rem 0;
  /* border: 1px solid red; */
}

.scroll-top-img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}
.scroll-top-img img:hover {
  transform: scale(1.1);
}

.scroll-middle {
  margin-top: 5rem;
}
